/* Ajustando estilo dos botões e links */
a{
    color: inherit;
    text-decoration: inherit;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
}
button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/* Barra de Menu - Mobile*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.itens-menu-1 img {
    height: auto;
}
.itens-menu-2 img{
    flex-grow: 1;
    align-items: center;
    height: 19px;
}

/* Imagens Carrosel - Mobile*/
.carousel-image > img{
    width: 100%;
    position: absolute;
    top: -35px;
}
.carousel-image{
    height: 280px;
    width: 100%;
    overflow-y: hidden;
    position: relative;
}
.button-image{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 50%;
    top: calc(50% - 25px);
}
.button-image >img{
    width: 9px;
}
.button-previous{
    left: 1rem;
}
.button-next{
    right: 1rem;
}
/* Texto sobre o produto */
h2{
    color: hsl(26, 100%, 55%);
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 11px;
}
h1{
   font-size: 24px; 
   font-weight: 700;
   padding-bottom: 10px;
   padding-top: 15px;
}
p{
    font-size: 16px;
    line-height: 22px;
    color: hsl(219, 9%, 45%);
}
.product{
    margin: 1.5rem;
}
.text-product{
    padding-top: 10px;
    padding-bottom: 10px;
}
.value-product{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button-quantity{
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
}
.button-add-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-top:14px;
    padding-bottom:14px;
    background-color:hsl(26, 100%, 55%);
    color: white;
    border-radius: 10px;   
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.button-add-cart > img{
    margin-right: 5px;
}
.value-quantity {
    font-weight: 700;
}

.value-product{
    font-weight: bold;
}
.value-discount{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.total{
    font-size: 24px; 
    font-weight: 700;
}
.discount{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(25, 100%, 94%);
    border-radius: 4px;
    padding: 4px;
    color: hsl(26, 100%, 50%);
    margin-left: 10px;
}
.value{
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
}


/* Produtos adicionados ao carrinho (Vazio) - Mobile */
.cart-products-empty {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0.5rem;
    background-color: white;
    border-radius: 8px;
    padding-bottom: 3px;
    height: 30%;
    width: 95%;
    z-index: 1;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
}
.line-decoration{
    height: 3px;
    background-color: hsl(223, 64%, 98%);
}
.cart-products-title{
    padding: 1.5rem;
    text-align: start;
}
.cart-product-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    color: hsl(219, 9%, 45%);
}

/* Produtos adicionados ao carrinho (Cheio) - Mobile*/
.cart-products-full{
    position: absolute;
    margin: 0.5rem;
    background-color: white;
    border-radius: 8px;
    padding-bottom: 6px;
    height: 30%;
    width: 95%;
    z-index: 1;

    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
}
.cart-products{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.product-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
.product-text{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}
.product-itens > img{
    width: 15%;
    border-radius: 5px;
}
.cart-products > button{
    height: auto;
    margin-top: 10px;
    padding-top:14px;
    padding-bottom:14px;
    background-color:hsl(26, 100%, 55%);
    color: white;
    border-radius: 10px;  
}
#button-delete{
    width: 5%;
    height: 5%;
}

/* Opções menu - Barra de navegação - Mobile */
.nav-menu{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}
.nav-menu-options{
    background-color: white;
    padding-left: 10%;
    padding-top: 2rem;
    height: 100%;
    width: 60%;
    z-index: 1;
}
.nav-menu-options > ul{
    line-height: 50px;
    font-weight: bold;
    font-size: 19px;
    font-family: 'Kumbh Sans', sans-serif;
    padding-top: 2rem;  
}
.nav-menu > img{
    width: 15px;
}

/* Tela desktop */
@media screen and (max-width: 1023px) { 
    .nav-list-desktop { display: none; }
}
@media screen and (min-width: 1024px) {
    .hide-nav-mobile { display: none; }

    /* Tag Main Desktop */
    .main-desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 5%;
    }
    /* Texto sobre o produto */
    h2{
        color: hsl(26, 100%, 55%);
        text-transform: uppercase; 
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
    }
    h1{
        font-size: 35px; 
        font-weight: 700;
        padding-bottom: 20px;
        padding-top: 15px;
    }
    p{
        font-size: 15px;
        line-height: 24px;
        color: hsl(219, 9%, 45%);
    }

    /* Cabeçalho do site */
    .header-desktop{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: 5px;
    }
    .options-menu{
        display: flex;
        flex-direction: row;
        align-items:center;
        padding-left: 15%;
        padding-right: 15%;
    }
    .itens-menu-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
    }
    .itens-menu-2{
        display: flex;
        align-items: center;
    }
    .itens-menu-1 > img{
        height: 17px;
    }
    .itens-menu-1 > div > ul >li{
        color: grey;
        font-size: 13px;
        padding-right: 18px;
        align-items: baseline;
    }
    .itens-menu-2 img{
        height: 15px;
        padding-left: 18px;
        padding-top: 3px;
    }
    #img-perfil{
        height: 35px;
    }

    /* .transition-menu nav ul li a {
        color: hsl(219, 9%, 45%);
        transition-duration: 0.5s;
      }
    
      .transition-menu nav ul li:hover a {
        color: black;
      } */

    /* Produtos adicionados ao carrinho (Vazio) */
    .cart-products-empty {
        position: absolute;
        margin: 0.5rem;
        background-color: white;
        border-radius: 8px;
        padding-bottom: 6px;
        height: 28%;
        width: 250px;
        top:13%;
        right: 8%;
        box-shadow: 0 0 10px hsl(220, 14%, 75%);
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 13px;
    }
    .line-decoration{
        height: 3px;
        background-color: hsl(223, 64%, 98%);
    }

    /* Produtos adicionados ao carrinho (Cheio) - Mobile*/
    .cart-products-full{
        position: absolute;
        margin: 0.5rem;
        background-color: white;
        border-radius: 8px;
        padding-bottom: 6px;
        height: 28%;
        width: 250px;
        box-shadow: 0 0 10px hsl(220, 14%, 75%);
        z-index: 1;
        font-family: 'Kumbh Sans', sans-serif;
        top:13%;
        right: 8%;
    }
    .cart-products-title{
        padding: 1.3rem;
        text-align: start;
        font-size: 12px;
    }
    .cart-products{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 10px;
        font-size: 11px;
    }
    .product-itens{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 3px;
        padding-bottom: 6px;
    }
    .product-text{
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        margin-right: 8px;  
    }

    .cart-products > button{
        height: auto;
        margin-top: 5px;
        padding-top:12px;
        padding-bottom:12px;
        background-color:hsl(26, 100%, 55%);
        color: white;
        border-radius: 10px;  
        font-size: 12px;
    }
    #button-delete-2{
        width: 5%;
        height: 40%;
    }

    /* carrosel Imagens */
    .carousel-image-desktop{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    .carousel-image-desktop >img{
        width: 320px;
        border-radius: 8px;
        
    }
    .carousel-image-desktop > div >img{
        width: 63px;
        border-radius: 6px; 
    }
    .image-thumbnail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;
    }

    /*Informações do produto */
    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        width: 400px;
    }
    .text-product{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .value-product{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .button-product{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .button-quantity{
        display: flex;
        flex-direction: row;
        background-color: hsl(223, 64%, 98%);
        margin: 0;
        width: 120px;
        margin-right: 6px;
    }
    .button-quantity > * {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .button-quantity > button > img{
        width: 8px;
    }
    .button-add-cart {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        background-color:hsl(26, 100%, 55%);
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: white;
        text-align: center;
        width: 250px;
        
        box-shadow:   hsl(26, 100%, 55%);
    }
    .button-add-cart > img{
        width: 15px;
        height: 16px; 
        margin-right: 10px;
    }
    .value-quantity {
        font-weight: 700;
        font-size: 12px;
    }

    .value-product{
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    .value-discount{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 8px;
    }
    .total{
        font-size: 18px; 
        font-weight: 700;
    }
    .discount{
        background-color: hsl(25, 100%, 94%);
        border-radius: 4px;
        font-size: 10px;
        color: hsl(26, 100%, 50%);
    }
    .value{
        color: hsl(220, 14%, 75%);
        text-decoration: line-through;
        font-size: 11px;
    }


    .hidden{
        display: none;
    }
    
}


